#headerBackground {
    height: 130px;
    margin-left:30px;
    width: 1430px;
    background-image: url("../images/headerbackground.png");
    background-size: cover;
    font-family: 'Lobster', cursive;
    
}
#title {
    font-Size: 50px;
    text-align: center;
}

#homepageBackground {
    background-image: url("../images/teapotbackground.jpg");
    margin-right: 95px;
  }
  
#headerLinks {
    text-align: center;
    color: black !important;
    font-size: 30px;
}

a {
    color:black;
}
h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 30px;  
}