#headerBackground {
    height: 130px;
    background-image: url("../images/headerbackground.png");
    background-size: cover;
    font-family: 'Lobster', cursive;
    
}
#title {
    font-Size: 50px;
    text-align: center;
}

#homepageBackground {
    background-image: url("../images/teapotbackground.jpg");
    margin-top: -2px;
    display: flex;
    justify-content: center;
  }
  
#headerLinks {
    text-align: center;
    color: black !important;
    font-size: 30px;
}

a {
    color:black;
}
h2, h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 30px;  
}
.loginBoxes{
    width: 300px;
   height: 325px;
   padding:50px;
   margin: 20px;
   text-align: center; 
   background-color: #d8e6f3;
    border-radius: 20px;
}
main {
    margin: 0px;
    padding:0px;
}
#addRecipeBox {
    width: 1000px;
    margin: 20px;
    background-color: #d8e6f3;
    border-radius: 20px;

}

#recipeCard {
    background-color: #d8e6f3;
    border-radius: 20px;
}